---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetDrievoor12UpdateDetail from '../queries/get-detail.js';

const { slug } = Astro.params;

const response = await Prepr(GetDrievoor12UpdateDetail, {slug})

const { data } = await response.json()

const update = data
---
<Layout title={update}>
    <main>
        <h1>{update}</h1>
    </main>
</Layout>


