---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetArticles from '../queries/get-articles.js';

const response = await Prepr(GetArticles, {})

const { data } = await response.json()

const articles = data.Articles
---

<Layout title="Test test">
	<h1>
		My blog site
	</h1>
	<ul>
		{
			articles.items.map((post) => (
				<li>
					<a href={post._slug}>{post.title}</a>
				</li>
			))
		}
	</ul>
</Layout>