---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetUpdates from '../queries/get-updates.js';

const response = await Prepr(GetUpdates, {})

const { data } = await response.json()

const updates = data.updates
---

<Layout title="Test test">
	<h1>
		My blog site
	</h1>
	<ul>
		{
			updates.items.map((post) => (
				<li>
					<a href={post._slug}>{post.title}</a>
				</li>
			))
		}
	</ul>
</Layout>