---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetUpdates from '../queries/get-updates.js';

const response = await Prepr(GetUpdates, {})

const { data } = await response.json()

const updates = data.Drievoor12updates.items
---

<Layout title="Test test">
	<h1>
		3 voor 12 updates
	</h1>
	<ul>
		{
			updates.map((update) => (
				<li>
					<a href={update.id}>{update.title}</a>
				</li>
			))
		}
	</ul>
</Layout>