---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetPosts from '../queries/get-posts.js';

const response = await Prepr(GetPosts)

const { data } = await response.json()

const posts = data.Posts
---

<Layout title="Welcome to Astro.">
	<h1>
		My blog site
	</h1>
	<ul>
		{
			posts.items.map((post) => (
				<li>
					<a href={post._slug}>{post.title}</a>
				</li>
			))
		}
	</ul>
</Layout>